<!DOCTYPE html>
<html>
    <head>
        <title>Simple Group Chat on Node.js</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="./style.css" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    </head>
    <body class='bg-dark'>
        <!-- BEGIN MAIN CONTENT -->
        <main class="container bg-light box-shadow rounded my-3 p-4">
            <!-- BEGIN HEADER -->
            <div class="row p-0">

                <!-- BEGIN USER LIST-->
                <div class="col-md-3 order-md-2 users">
                    <h4 class="d-flex mb-0">
                        <span class="text-muted m-0 users">Users Online</span>
                    </h4>
                    <hr class="mt-2"/>
                    <ul class="list-group">
                        <div id="users">
                        </div>
                    </ul>
                </div>

                <!-- BEGIN CHAT AREA -->
                <div class="bg-white border col-md-9 p-0 rounded order-md-1">
                    <ul id="messages" class="list-group d-flex">
                        <li class="list-group-item list-group-item-primary pl-3 p-1">Please enter the username you wish to use:</li>
                        <div id="bottom"></div>
                    </ul>

                    <form action="/" method="POST" id="chatForm" class="form-group">
                        <div class="input-group col-auto mt-2">
                            <input id="txt" autocomplete="off" autofocus="on" class="form-control" placeholder="Enter your desired username to join" />
                            <button id="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </main>
        <script type="text/javascript" src="./messages.js"></script>
        <script type="text/javascript" src="./client.js"></script>
    </body>
</html>
