
*
body { 
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:768px) {
    .users {
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

form { 
    margin: 0;
}

form input { 
    border-style: solid; 
    border-width: 1px; 
    padding: 10px; 
    width: 85%; 
    margin-right: .5%; 
}

#messages { 
    scrollbar-width: none;
    height: 500px;
    overflow-y: scroll;
    margin: 0; 
    padding: 0; 
}

#messages li:nth-child(odd) {}

#messages .red {
    color: red;
}

#messages .blue {
    color: blue;
}

#messages .bottom {
    position: absolute;
    bottom: 0;
}

